<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geely.project.supplier.mapper.BAgainHandleMapper">
    
    <resultMap type="BAgainHandle" id="BAgainHandleResult">
        <result property="cId"    column="c_id"    />
        <result property="uId"    column="u_id"    />
        <result property="isCard"    column="is_card"    />
        <result property="isCaliche"    column="is_caliche"    />
        <result property="computerType"    column="computer_type"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBAgainHandleVo">
        select c_id, u_id, is_card, is_caliche, computer_type, create_time, update_time, create_by, update_by, remark from b_again_handle
    </sql>

    <select id="selectBAgainHandleList" parameterType="BAgainHandle" resultMap="BAgainHandleResult">
        <include refid="selectBAgainHandleVo"/>
        <where>  
            <if test="uId != null  and uId != ''"> and u_id = #{uId}</if>
            <if test="isCard != null  and isCard != ''"> and is_card = #{isCard}</if>
            <if test="isCaliche != null  and isCaliche != ''"> and is_caliche = #{isCaliche}</if>
            <if test="computerType != null  and computerType != ''"> and computer_type = #{computerType}</if>
        </where>
    </select>
    
    <select id="selectBAgainHandleById" parameterType="String" resultMap="BAgainHandleResult">
        <include refid="selectBAgainHandleVo"/>
        where c_id = #{cId}
    </select>
        
    <insert id="insertBAgainHandle" parameterType="BAgainHandle">
        insert into b_again_handle
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cId != null  and cId != ''">c_id,</if>
            <if test="uId != null  and uId != ''">u_id,</if>
            <if test="isCard != null  and isCard != ''">is_card,</if>
            <if test="isCaliche != null  and isCaliche != ''">is_caliche,</if>
            <if test="computerType != null  and computerType != ''">computer_type,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cId != null  and cId != ''">#{cId},</if>
            <if test="uId != null  and uId != ''">#{uId},</if>
            <if test="isCard != null  and isCard != ''">#{isCard},</if>
            <if test="isCaliche != null  and isCaliche != ''">#{isCaliche},</if>
            <if test="computerType != null  and computerType != ''">#{computerType},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBAgainHandle" parameterType="BAgainHandle">
        update b_again_handle
        <trim prefix="SET" suffixOverrides=",">
            <if test="uId != null  and uId != ''">u_id = #{uId},</if>
            <if test="isCard != null  and isCard != ''">is_card = #{isCard},</if>
            <if test="isCaliche != null  and isCaliche != ''">is_caliche = #{isCaliche},</if>
            <if test="computerType != null  and computerType != ''">computer_type = #{computerType},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where c_id = #{cId}
    </update>

    <delete id="deleteBAgainHandleById" parameterType="String">
        delete from b_again_handle where c_id = #{cId}
    </delete>

    <delete id="deleteBAgainHandleByIds" parameterType="String">
        delete from b_again_handle where c_id in 
        <foreach item="cId" collection="array" open="(" separator="," close=")">
            #{cId}
        </foreach>
    </delete>
    
</mapper>